<h3 id="windows">Windows</h3>
<p>
Please go through all the installation steps below and make sure that
you not only installed them, but start them up to make sure they're working.
If you have any problems, don't hesitate to email the instructors to
ask for help, or arrive early on the first day of the workshop to
get help.

<div class="row-fluid">
  <ol>
<li><b>A spreadsheet program</b>
<br>For this workshop you will need a spreadsheet program. Many people already have
Microsoft Excel installed, and if you do, you're set!
<br>
If you need a spreadsheet
program, there are a few other options, like OpenOffice and LibreOffice. Install
instructions for LibreOffice, which is free and open source, are here.
       <ul>
          <li><b>Download the Installer</b>
        <br>Install LibreOffice by going to the <a href=https://www.libreoffice.org/download/libreoffice-fresh/>installation page</a>. The version for Windows
should automatically be selected. Click on the button below "Main Installer" <b>Download Version x.y.z</b>. You
will go to a page that asks about a donation, but you don't need to make one.
Your download should begin automatically.
          <li><b>Install LibreOffice</b>
            <br>Once the installer is downloaded, double click on it and it should install.
<li>To use LibreOffice, double click on the icon and it will open.
</ul>

<li><b>An SSH client</b>
<br>To connect to cloud computing, you will need an SSH client. We will use PuTTY.
<ul>
<li>Download putty.exe from <a href=http://www.chiark.greenend.org.uk/%7Esgtatham/putty/download.html>the PuTTY Download page</a>
<li>Follow the instructions to install
</ul>

</ol>
</div>
